aiml==0.9.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses==0.8
decorator==4.4.2
filelock==3.0.12
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
grpcio==1.37.0
grpcio-tools==1.37.0
hanziconv==0.3.2
httplib2==0.19.1
idna==2.10
importlib-metadata==4.0.1
joblib==1.0.1
networkx==2.5.1
numexpr==2.7.3
numpy==1.19.5
packaging==20.9
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyExecJS==1.5.1
pyltp==0.2.1
pyparsing==2.4.7
pytz==2021.1
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
sacremoses==0.0.45
six==1.15.0
snownlp==0.12.3
tables==3.6.1
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==4.5.1
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.4
zhconv==1.4.1
zipp==3.4.1